body{
	background-color: DeepSkyBlue;
	background-image: url(../imagens/paisagem.jpg);
	background-size:100%;
	background-position: center;
	background-attachment: fixed;

	color: DeepPink;
	font-weight: bold;/*Negrito*/
	font-size: 1.5em;
}
    span{
    	color:orange;
    	background-color: Indigo;
    	position: relative;
    }
    #pCima{top: -20px;}
    #pBaixo{bottom: -20px;}
    div{
    	width: 200px;height: 200px;
    	background-color: GreenYellow;
    	border:2px dashed Gold;
    	padding-top: 36px;
    	text-align:center;
    	box-sizing: border-box;
    	margin: 10px;
    	position: absolute;
    }

    #pSetaCima{top: 0px; right:  200px;}
    #pSetaBaixo{top:  400px; right:  200px;}
    #pSetaDireita{top:  200px; right: 0px;}
    #pSetaEsquerda{top: 200px;  right:400px;}

    img{
        width: 200px;
    }